In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import numpy as np
import pandas as pd
import json

# import our final dataset
with open("/content/drive/My Drive/CS449_Project/CS_449_Data/full_dataset_4.csv", 'r') as csv:
  full_dataset = pd.read_csv(csv)

full_dataset

,Unnamed: 0.1,Unnamed: 0,gvkey,datadate,fyearq,fqtr,indfmt,consol,popsrc,datafmt,...,Open,High,Low,Close,Adj Close,Volume,symbol,return,future return,return group
0,0,0,1045,09/30/2005,2005,3.0,INDL,C,D,STD,...,20.260000,21.049999,20.180000,21.010000,19.807001,NaN,AAL,NaN,90.385527,4.0
1,1,1,1045,03/31/2006,2006,1.0,INDL,C,D,STD,...,37.700001,40.020000,37.599998,40.000000,37.709663,-31.306631,AAL,90.385527,26.349981,4.0
2,2,2,1045,06/30/2006,2006,2.0,INDL,C,D,STD,...,48.400002,50.900002,47.630001,50.540001,47.646152,32.701002,AAL,26.349981,-70.894338,-4.0
3,3,3,1045,12/31/2007,2007,4.0,INDL,C,D,STD,...,14.850000,15.000000,14.550000,14.710000,13.867728,-5.591655,AAL,-70.894338,-39.428968,-4.0
4,4,4,1045,03/31/2008,2008,1.0,INDL,C,D,STD,...,8.480000,9.030000,8.330000,8.910000,8.399826,18.326575,AAL,-39.428968,-71.941634,-4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38407,38407,38407,316056,12/31/2021,2021,4.0,INDL,C,D,STD,...,131.029999,133.039993,131.029999,132.440002,130.298828,-69.398669,ALLE,0.471516,-16.804949,-3.0
38408,38408,38408,316056,03/31/2022,2022,1.0,INDL,C,D,STD,...,112.949997,113.150002,109.760002,109.779999,108.402176,190.335235,ALLE,-16.804949,-10.459127,-3.0
38409,38409,38409,316056,06/30/2022,2022,2.0,INDL,C,D,STD,...,97.529999,98.800003,96.900002,97.900002,97.064255,3.869304,ALLE,-10.459127,-7.999894,-2.0
38410,38410,38410,316056,09/30/2022,2022,3.0,INDL,C,D,STD,...,89.400002,91.500000,88.290001,89.680000,89.299217,-0.969726,ALLE,-7.999894,NaN,NaN
38411,38411,38411,324138,09/30/2022,2022,3.0,INDL,C,D,STD,...,1.920000,1.970000,1.774000,1.800000,1.800000,NaN,MOB,NaN,NaN,NaN

In [ ]:
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

# take out only data that will be used for the regression, split by stock category (spcindcd)
regr_data = full_dataset[['return', 'Volume', 'op_income_pre_dep', 'op_income_post_dep', 'sales_net', 'current_assets', 'current_liabilities', 'retained_earnings', 'working_capital', 'return group', 'spcindcd']].dropna().groupby("spcindcd")

# select a ticker to be used for an in-depth look later
ticker = "AMZN"
# loop through the data for each stock category
for i in regr_data:
  # identify the inputs and expected outputs
  X = np.array(i[1][['return', 'Volume', 'op_income_pre_dep', 'op_income_post_dep', 'current_assets', 'current_liabilities', 'retained_earnings', 'working_capital']])
  y = np.array(i[1][['return group']])

  # fit the linear regression
  regr = LinearRegression()
  regr.fit(X, y)
  # run a sample plot for the previously defined ticker by grabbing the correct model for the same spcindcd
  if i[1]['spcindcd'][i[1].index[0]] == full_dataset[full_dataset["ticker"] == ticker]['spcindcd'][full_dataset[full_dataset["ticker"] == ticker].index[0]]:
    temp_X = full_dataset[full_dataset["ticker"]==ticker][['return', 'Volume', 'op_income_pre_dep', 'op_income_post_dep', 'current_assets', 'current_liabilities', 'retained_earnings', 'working_capital']].dropna()
    temp_y = full_dataset[full_dataset["ticker"]==ticker]['return group'].dropna().reset_index(drop=True)

    plt.plot(regr.predict(temp_X))
    plt.plot(temp_y)
    plt.title("Linear Regression Classification of AMZN")

    print('Accuracy of LR', regr.score(temp_X, temp_y))